@import "../base/vars";
@import "../base/maps";
@import "../base/mixins";
@import "../base/extends";

footer {
  padding: 20px 0;
  background-color: $light-lemon;
  color: $dark-grey;
  ul {
    padding: 0;
    list-style: none;
    @include centered-text(18px);
    line-height: 1.6;
    @extend .mb-0;
    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  li {
    padding: 0 10px;
  }
  .social {
    text-align: center;
    padding-bottom: 20px;
    a {
      @include centered-text(24px);
      display: map-get($map: $estilos-text, $key: display);
      border: map-get($map: $estilos-text, $key: border-white);
      margin: 0 8px;
      color: inherit;
      opacity: 75%;
      &:hover {
        opacity: 90%;
      }
    }
  }
  .copyright {
    @include centered-text(13px);
    margin-top: 15px;
    color: grey;
    @extend .mb-0;
  }
}
