main {
  margin: 20px 0 20px 0;
}

.product-card {
  width: 25rem;
}

.service-card {
  cursor: pointer;
  &:hover {
    box-shadow: 0 20px 40px black;
    transform: scale(1.05);
  }
}

.contact-card {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.typewriter {
  overflow: hidden;
  border-right: 0.13em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.navbar-brand {
  &:hover {
    animation: spin 1.25s;
  }
}
